:host {
    div {
        background-color: #ffffff;
        height: 26px;
        text-align: center;
        padding: 0.5em 1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Century Gothic", sans-serif;
        font-weight: 400 !important;
        color: #545454;
        border-bottom: 1px #efeeec solid;
        font-size: 12px;
        margin: auto auto;
    }
  }
  