<div style="padding: 15px">
    <div style="float: left;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <app-carousel [images]='product?.images'></app-carousel>
    </div>

    <div style="float: right;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2>{{product?.title}}</h2>
        <div class="price">
            <span class="actualPrize">
        {{product?.actualPrize}}
      </span>
            <s class="beforePrize">
        {{product?.beforePrize}}
      </s>
        </div>

        <div>
            Calculador de tallas (x hacer)
        </div>

        <br>

        <div class="selector-talla">
            <label style="width: 100%; font-size: 12px; font-weight: bold;">
        Talla
      </label>
            <select id="OptionSelection">
              <option value="XS" selected="selected">
                XS
              </option>

              <option value="S" selected="selected">
                S
              </option>

              <option value="M">
                M
              </option>

              <option value="L">
                L
              </option>

              <option value="XL">
                XL
              </option>
             </select>
        </div>

        <app-quantity-selector></app-quantity-selector>
        <div class="buttons">
            <button type="submit" name="add" class="btnAdd" (click)="cartService?.AddProduct(product)">
        <span>
          AGREGAR AL CARRITO
        </span>
      </button>

            <button type="submit" name="buyNow" class="btnBuyNow">
        <span>
          Comprar ahora
        </span>
      </button>
        </div>

        <div class="descripcion">
            <p>Presentamos nuestro LONG TOP, tu segunda piel en cada entrenamiento. Confeccionado para proporcionar la máxima comodidad y ligereza en cada sesión de entrenamiento.<br><br>Desarrollado en la mezcla de fibras de&nbsp;políester&nbsp;y elastano
                perfecta, dotando al LONG TOP de mayor elasticidad y gran durabilidad. Comodidad&nbsp;absoluta sin renunciar al mejor estilo y evitando cualquier tipo de transparencia.</p>
            <p>&nbsp;</p>

            <p><strong>DETALLES</strong></p>
            <ul>
                <li>Máxima comodidad</li>
                <li>Logo&nbsp;impreso</li>
                <li>Diseño granulado</li>
                <li>Elástico y flexible</li>
                <li>Sin transparencias</li>
                <li>Durabilidad garantizada</li>
                <li>Costuras de doble refuerzo</li>
                <li>Color&nbsp;BLACK</li>
            </ul>
            <p><strong>COMPOSICIÓN Y LAVADO</strong></p>
            <ul>
                <li>Políester, elastano</li>
                <li>Lavar a máquina en frío</li>
                <li>Secado natural</li>
            </ul>
            <ul></ul>
        </div>
    </div>
</div>
<div style="clear: both;"></div>