:host {
    font-family: "Century Gothic", sans-serif;
}

.beforePrize {
    color: #be563f;
    margin-right: 15px;
}

.selector-talla {
    min-width: 50%;
    flex-grow: 1;
    padding-right: 5px;
}

.selector-talla select {
    width: 80%;
}

select {
    cursor: pointer;
}

select:focus,
select:hover {
    outline: 0;
}

input,
textarea,
select,
.input-group {
    border: 1px solid #f0f0f0;
    font-size: 0.95em;
    border-radius: 0px;
    max-width: 100%;
    padding: 9px 16px;
    margin: 7px 0;
    background: rgba(255, 255, 255, 0);
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttons {
    margin: 0 0 10px 0;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
}

.btnAdd {
    border: 1px solid #dcdcdc;
    box-shadow: none;
    line-height: 1.5;
    transition: all 0.15s ease;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    background: #fff;
    color: #b1b1b1;
    padding: 7px 14px;
    margin: 10px 10px 0 0;
    min-width: 155px;
    flex: auto;
    max-width: 400px;
}

.btnAdd:hover {
    background: linear-gradient(to bottom, #b1b1b1 5%, #b1b1b1 100%);
    background-color: #b1b1b1;
    color: #fff;
}

.btnAdd:active {
    position: relative;
    top: 1px;
}

.btnBuyNow {
    background-color: #b1b1b1;
    color: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    line-height: 1.5;
    transition: all 0.15s ease;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    padding: 7px 14px;
    margin: 10px 10px 0 0;
    min-width: 155px;
    flex: auto;
    max-width: 400px;
}

.btnBuyNow:hover {
    background-color: #0d8bc5;
    color: #fff;
}

.btnBuyNow:active {
    position: relative;
    top: 1px;
}

p,
.p,
.search .search-query,
.cart table th,
.cart table tbody td {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 0.5em;
}

.userSelect {
    user-select: none
}

.actualPrize {
    padding: 5px;
}

.descripcion {
    margin-top: 20px;
    text-align: justify;
}

.detalles.p {
    text-transform: uppercase;
    font-size: 26px;
}

.marketInformation {
    margin-top: 20px;
    text-align: justify;
}