<div style="padding: 15px">
    <div style="float: left;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <app-carousel [images]='product?.images'></app-carousel>
    </div>

    <div style="float: right;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <h1 style="margin-top: 10px; user-select: none; font-size: 26px; text-transform: uppercase;">{{product?.title}}</h1>
        <div class="price">
            <span class="actualPrize">
        €{{product?.actualPrize}}
      </span>
            <s class="beforePrize">
        €{{product?.beforePrize}}
      </s>
        </div>
        <br>

        <div class="selector-talla">
            <label style="width: 100%; font-size: 12px; font-weight: bold;">
        Talla
      </label>
            <select id="OptionSelection">
        <option value="XS" selected="selected">
          XS
        </option>

        <option value="S" selected="selected">
          S
        </option>

        <option value="M">
          M
        </option>

        <option value="L">
          L
        </option>

        <option value="XL">
          XL
        </option>
      </select>
        </div>

        <app-quantity-selector></app-quantity-selector>
        <div class="buttons">
            <button type="submit" name="add" class="btnAdd" (click)="cartService?.AddProduct(product)">
        <span>
          AGREGAR AL CARRITO
        </span>
      </button>

            <button type="submit" name="buyNow" class="btnBuyNow">
        <span>
          Comprar ahora
        </span>
      </button>
        </div>

        <div class="descripcion">
            <p>{{product?.description}}</p>
            <p>&nbsp;</p>
        </div>
        <div class="detalles">
            <p><strong>DETALLES</strong></p>
            <ul>
                <li *ngFor="let detail of product?.details">{{detail}}</li>

            </ul>
            <div class="moreDetails">
                <p><strong>COMPOSICIÓN Y LAVADO</strong></p>
                <ul>
                    <li *ngFor="let moreDetail of product?.moreDetails">{{moreDetail}}</li>
                </ul>
                <ul></ul>
            </div>
        </div>

        <div class="marketInformation">
            <mat-tab-group>
                <mat-tab *ngFor="let item of dataService?.info" label={{item?.nameInformation}} style="margin-bottom: 20px;">{{item.descriptionInformation}}</mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
<div style="clear: both;"></div>

<h2 style="margin-top: 40px; user-select: none; font-size: 18px; text-transform: uppercase; text-align: center;">Tambien te podría interesar</h2>