<div style="margin-left:8px;">
  <div style="opacity:0.8; margin-left: 8px;" class="title">
    Configuración de tu tienda
  </div>
  <mat-card class="card">

    <div>Nombre de la tienda</div>
    <div style="margin-top: 10px">
      <input matInput placeholder="Not Black Market" [(ngModel)]="nombreTienda">
    </div>
    <div class="subInput">
      Este es el nombre que aparecerá en la parte superior de la tienda
    </div>
  </mat-card>

  <div style="opacity:0.8; margin-left: 8px;" class="title">
    Configuración de las pestañas de producto (max 3)
  </div>

  <mat-card class="card">
    <div>Titulo</div>
    <div style="margin-top: 10px">
      <input matInput placeholder="Envio" [(ngModel)]="marketInfoObject.nameInformation" name="name" #name="ngModel"
        style="padding-right: 30px;" required>
    </div>
    <div class="subInput" style="margin-bottom: 20px;">
      Este es el título que aparecerá en la parte superior de la tab
    </div>

    <div style="margin-top: 20px;">Descripcion</div>
    <div style="margin-top: 10px">
      <input matInput placeholder="El envio puede ser..." [(ngModel)]="marketInfoObject.descriptionInformation"
        name="description" #description="ngModel" style="padding-right: 30px;" required>
    </div>
    <div class="subInput">
      Esta es el descripción que aparecerá en la parte inferior de la tab
    </div>
    <div style="margin-top: 20px" *ngIf="marketInfo.length <= 2">
      <button style="float:right" mat-flat-button class="btn" color="primary" (click)="onSubmitMarketInfo()">
        Añadir</button>
      <div style="clear:both"></div>
    </div>

    <div style="font-size: 13px; margin-bottom: 0px; margin-top: 20px; width: 100%; " class="tabs" >
      <ul>
        <li *ngFor="let tab of marketInfo" style="display: flex;">
          <div style="min-width: 350px; margin-top: 20px;">
            {{tab.nameInformation}}
          </div>
          <mat-icon style="cursor:pointer; font-size: 22px; margin-top: 20px;" (click)="removeTab(tab)">clear</mat-icon>
        </li>
      </ul>
    </div>

    <div style="margin-top: 20px;">Gastos de envio</div>
    <div style="margin-top: 10px">
      <input matInput placeholder="9,99€" [(ngModel)]="shippmentPrice"
        name="precio" style="padding-right: 30px;" required>
    </div>
    <div class="subInput">
      Este es el precio de los gastos de envio
    </div>

    <div style="margin-top: 20px" *ngIf="marketInfo.length > 0 && nombreTienda && shippmentPrice">
      <button style="float:right" mat-flat-button class="btn btnSave" color="primary" (click)="saveConfig()"> Guardar Configuracion
      </button>
      <div style="clear:both"></div>
    </div>

  </mat-card>

</div>
