.products-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.products-full-width {
    width: 100%;
}

.products-90-width {
    width: 90%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.sidenav-content {
    display: flex;
}

.rightPanel {
    padding: 20px;
    min-width: 40%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: unset;
}

.details {
    cursor: pointer;
    font-family: "Century Gothic", sans-serif;
    color: #545454;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-left: 0;
    z-index: 10;
    background-color: white;
}

.details:hover {
    background-color: rgb(223, 221, 221);
}

.title {
    font-weight: normal;
    font-size: 16.2px;
    line-height: 1.4;
    margin: 7px 0;
}

mat-select,
input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    padding: 6px 10px;
    margin-bottom: 5px;
}

.subInput {
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.8;
    line-height: 1.6;
}

.preInput {
    font-size: 12px;
    opacity: 0.8;
    line-height: 1.6;
}