<!--Cosas que tenemos que hacer:
    1. Creacion de un Producto
    2. Edicion de un Producto
    3. Lista de productos
    4. Borrado de productos. -> Colocar como Outlet, nunca borrar en una bbdd relacional.
-->


<!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon style="margin-right: 10px;">receipt</mat-icon>
                    <span style="margin-right: 5px;"> Añadir tipo de Producto</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="products-form">
                <mat-form-field class="products-full-width">
                    <mat-label>Tipo de producto</mat-label>
                    <textarea matInput placeholder="Ex. Pantalones, Camisetas, Tarros de miel..."></textarea>
                </mat-form-field>
            </form>
            <h3>Lista de productos</h3>
            <app-type-product-table [typeProducts]="dataService?.productTypes"></app-type-product-table>

        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon style="margin-right: 10px;">speaker_notes</mat-icon>
                    <span style="margin-right: 5px;">Añadir Propiedades a un producto</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="products-form">
                <mat-form-field class="products-full-width">
                    <mat-label>Propiedades</mat-label>
                    <textarea matInput placeholder="Ex. Color, Talla, Tamaño..."></textarea>
                </mat-form-field>
                <app-properties-product-table [properties]="dataService?.properties"></app-properties-product-table>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon style="margin-right: 10px;">add_circle</mat-icon>
                    <span style="margin-right: 5px;">Añadir producto</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="products-form">

                <mat-form-field class="products-full-width">
                    <mat-label>Title</mat-label>
                    <textarea matInput placeholder="Nombre del producto"></textarea>
                </mat-form-field>

                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="isSale">Oferta</mat-radio-button>
                    <mat-radio-button value="isNotSale">Sin Oferta</mat-radio-button>
                </mat-radio-group>

                <mat-form-field class="products-full-width">
                    <mat-label>Precio Oferta</mat-label>
                    <textarea matInput placeholder="Precio de oferta"></textarea>
                </mat-form-field>

                <mat-form-field class="products-full-width">
                    <mat-label>Precio</mat-label>
                    <textarea matInput placeholder="Precio anterior a la oferta"></textarea>
                </mat-form-field>

                <mat-form-field class="products-full-width">
                    <mat-label>Images</mat-label>
                    <textarea matInput placeholder="URL de la imagen"></textarea>
                </mat-form-field>

                <mat-form-field class="products-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Descripcion"></textarea>
                </mat-form-field>

                <mat-form-field class="products-full-width">
                    <mat-label>Detalles</mat-label>
                    <textarea matInput placeholder="Detalles"></textarea>
                </mat-form-field>

                <mat-form-field style="padding: 10px;">
                    <mat-label>Propiedad</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let section of sections" [value]="section.title">
                            {{section.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="padding: 10px;">
                    <mat-label>Sub Propiedad</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let section of sections.sections" [value]="section.section.title">
                            {{section.section.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="products-90-width">
                    <mat-label>Stock</mat-label>
                    <textarea matInput placeholder="Numero de productos en stock"></textarea>
                </mat-form-field>

                <button mat-icon-button (click)="addProduct()" matTooltip="Añadir un producto">
          <mat-icon>library_add</mat-icon>
        </button>

            </form>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon style="margin-right: 10px;">apps</mat-icon>
                    <span style="margin-right: 5px;">Lista de productos</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-table-products [productsData]="dataService?.products"></app-table-products>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="rightPanel" position="end" mode="side">
        <!-- Parte Derecha -->
        <form class="products-form">

            <mat-form-field class="products-full-width">
                <mat-label>Title</mat-label>
                <textarea matInput placeholder="Nombre del producto"></textarea>
            </mat-form-field>

            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="isSale">Oferta</mat-radio-button>
                <mat-radio-button value="isNotSale">Sin Oferta</mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="products-full-width">
                <mat-label>Precio Oferta</mat-label>
                <textarea matInput placeholder="Precio de oferta"></textarea>
            </mat-form-field>

            <mat-form-field class="products-full-width">
                <mat-label>Precio</mat-label>
                <textarea matInput placeholder="Precio anterior a la oferta"></textarea>
            </mat-form-field>

            <mat-form-field class="products-full-width">
                <mat-label>Images</mat-label>
                <textarea matInput placeholder="URL de la imagen"></textarea>
            </mat-form-field>

            <mat-form-field class="products-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Descripcion"></textarea>
            </mat-form-field>

            <mat-form-field class="products-full-width">
                <mat-label>Detalles</mat-label>
                <textarea matInput placeholder="Detalles"></textarea>
            </mat-form-field>

            <mat-form-field style="padding: 10px;">
                <mat-label>Propiedad</mat-label>
                <mat-select>
                    <mat-option *ngFor="let section of sections" [value]="section.title">
                        {{section.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="padding: 10px;">
                <mat-label>Sub Propiedad</mat-label>
                <mat-select>
                    <mat-option *ngFor="let section of sections.sections" [value]="section.section.title">
                        {{section.section.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="products-90-width">
                <mat-label>Stock</mat-label>
                <textarea matInput placeholder="Numero de productos en stock"></textarea>
            </mat-form-field>

            <button mat-icon-button (click)="addProduct()" matTooltip="Añadir un producto">
                <mat-icon>box_add</mat-icon>
            </button>

        </form>
    </mat-drawer>

    <div class="sidenav-content">
        <div style="margin-left:8px; padding: 40px 20px;">
            <div style="opacity:0.8; margin-left: 8px;">
                <!-- Parte Izquierda -->
                <h2>Tipos de producto</h2>
            </div>
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>

            <div style="opacity:0.8; margin-left: 8px;">
                <!-- Parte Izquierda -->
                <h2>Productos</h2>
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="productView" (click)="showProductView()">Vista Productos</mat-button-toggle>
                    <mat-button-toggle value="tableView" (click)="showTableView()">Vista Tabla</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div *ngIf="productView">
                <!-- Primer Producto, usado para crear nuevos -->
                <div style="float: left; padding: 0; " class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let product of dataService?.products | slice:0:1; let i=index">
                    <div class="details" (click)="drawer.toggle()">
                        <div class="title">Crear nuevo producto</div>
                        <mat-icon>add_box</mat-icon>
                    </div>
                </div>
                <div style="float: left; padding: 0;" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let product of dataService?.products">
                    <app-product [product]="product"></app-product>
                </div>
            </div>

            <div *ngIf="tableView">
                <app-table-products [productsData]="dataService?.products"></app-table-products>
            </div>

        </div>
    </div>
</mat-drawer-container>