<a [routerLink]="'/landing/products/'+product?.reference">
    <div #imageDiv class="imageDiv">
        <div *ngIf="product?.offerPrice" class="sale">
            Oferta
        </div>
        <div class="slideup" (click)="$event.preventDefault(); $event?.stopPropagation(); productService?.openDialog(product)">
            Vista rápida
        </div>
    </div>
</a>


<div class="details">
    <div class="title">{{product?.name}}</div>

    <div *ngIf="product?.offerPrice">
        <span
            style="padding-right: 10px; text-decoration: line-through; color: #030303; opacity: .5;">€{{product?.offerPrice}}</span>
        <span style="color:#be563f">€{{product?.price}}</span>
    </div>

    <div *ngIf="!product?.offerPrice">
        <span>€{{product?.price}}</span>
    </div>
</div>