:host {
  div {
    background-color: #ffffff;
    text-align: center;
    padding: 12px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400 !important;
    color: #545454;
    font-size: 20px;
    border-bottom: 1px #efeeec solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    cursor: pointer;
    color: #545454;
  }

  a:hover {
    text-decoration: none;
  }
}

::ng-deep .mat-badge-content {
  font-size: 10px !important;
  height: 20px !important;
  width: 20px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
}

.cart-badge {
  position: absolute;
  cursor: pointer;
  right: 15px;
}

.user-badge {
  position: absolute;
  cursor: pointer;
  right: 60px;
  font-size: 26px;
}

.profile-img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0px !important;
}
