.td {
    font-size: 16px;
}

table {
    width: 100%;
    align-items: center;
    text-align: center;
    th {
        text-align: center;
        background-color: #333333;
        color: white;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}