$font-color: #545454;

:host {
  font-family: "Century Gothic", sans-serif;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400 !important;
  font-size: 12px;

  h1 {
    font-size: 2.25rem;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    padding: 30px;
    font-weight: 400;
  }
}
