<input matInput style="background-color: #ffffff" (keyup)="applyFilter($event)"
placeholder="Filtrar Tipos de Producto" #input>

<div style="border: 1px solid rgba(0, 0, 0, 0.125); margin-top: 20px; overflow: auto;" class="mat-elevation-z0">
    <table mat-table style="width: 100%; min-width: 550px;" [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row" style="cursor:default"> {{row?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="properties">
            <th mat-header-cell *matHeaderCellDef> Propiedades </th>
            <td mat-cell *matCellDef="let row">
                <ul>
                    <li *ngFor="let property of row?.properties?.items | keyvalue">{{property?.key}} (<span
                            *ngFor="let value of property?.value; let index = index"> {{value}}
                            {{(index<property?.value.length-1)? ',': ''}} </span>) </li>
                </ul>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="propertyValues">
                    <th mat-header-cell *matHeaderCellDef > Valores </th>
                    <td mat-cell *matCellDef="let row" >
                        
                    </td>
                </ng-container> -->

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon style="cursor: pointer;" matTooltip="Editar" (click)="setTypeOfProduct(row)"
                    style="font-size: 18px; opacity: 0.7;height: 18px;width: 18px;vertical-align: middle; margin-right: 10px;">
                    edit
                </mat-icon>
                <mat-icon style="cursor: pointer;" matTooltip="Duplicar" (click)="duplicateTypeOfProduct(row);"
                    style="font-size: 16px; opacity: 0.7;height: 16px;width: 16px;vertical-align: middle; margin-right: 10px;">
                    content_copy
                </mat-icon>
                <mat-icon style="cursor: pointer;" matTooltip="Eliminar" (click)="removeTypeOfProduct(row);"
                    style="font-size: 18px; opacity: 0.7;height: 18px;width: 18px;vertical-align: middle;">
                    delete_outline
                </mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator style="width: 100%; min-width: 550px;" [pageSizeOptions]="[5, 10, 15]">
    </mat-paginator>
</div>