<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="rightPanel" position="end" mode="side">
        <app-discount-editor [discount]="discount"></app-discount-editor>
        <div style="margin-top: 20px">
            <button style="float:left" mat-stroked-button (click)="resetDiscount(); drawer.opened=false">Cancelar</button>
            <button style="float:right" mat-flat-button (click)="saveDiscount(); resetDiscount(); drawer.opened=false"
                color="primary">Aplicar</button>
            <div style="clear:both"></div>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <div style="margin-left:8px; padding: 40px 20px; width: 100%">
            <div class="padding7 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                [ngClass]="{'col-xl-12 col-lg-12': drawer?.opened}">
                <mat-card class="card dashed" (click)="resetDiscount(); drawer.opened=true" style="padding: 10px 24px;">
                    <div class="flex-container">
                        <mat-icon style="margin-right: 10px;">add_circle</mat-icon>
                        <div style="flex-grow:1">
                            Añadir Descuento
                        </div>
                    </div>
                </mat-card>
            </div>
            <div style="opacity:0.8; margin-left: 8px; margin-bottom: 10px;" class="title">
                Descuentos
            </div>
            <div class="padding7 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                [ngClass]="{'col-xl-12 col-lg-12': drawer?.opened}">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let discount of dataService?.discounts"
                        (mouseenter)="setBackgroundColor($event, discount?.color)"
                        (mouseleave)="setBackgroundColor($event, '#ffffff')"
                        [style.border]="'1px solid '+ setLightenDarkenColor(discount?.color, 0.2)"
                        class="mat-elevation-z">
                        <mat-expansion-panel-header (click)="setDiscount(discount);drawer.opened=true" style="background-color: rgba(0,0,0,0)">
                            <mat-panel-title [style.color]="discount?.color">
                                <mat-icon style="margin-right: 10px;">
                                    {{discount?.type==discountType.Percentage?'data_usage':'euro_symbol'}}</mat-icon>
                                <span style="margin-right: 5px;">{{discount?.code}}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</mat-drawer-container>