.sidenav-content {
  display: flex;
}

.rightPanel {
  padding: 20px;
  min-width: 40%;
}

.container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: unset;
}