:host {
  div {
    background-color: #efeeec;
    font-size: 0.665em;
    text-align: center;
    padding: 0.5em 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400 !important;
    color: #545454;
  }
}

.promo__break {
  opacity: 0.5;
  padding: 0 1em;
}
