<div style="padding: 15px">
  <div style="float: left;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <app-carousel [product]='product'></app-carousel>
  </div>

  <div style="float: right;" class="auto-clear col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    <h1 style="margin-top: 10px; user-select: none; font-size: 26px; text-transform: uppercase;">{{product?.name}}</h1>
    <div>
      <span *ngIf="product?.offerPrice!=0" class="offerPrice">
        €{{product?.offerPrice}}
      </span>
      <span *ngIf="product?.offerPrice==0" class="offerPrice">
        €{{product?.price}}
      </span>
      <s class="price" *ngIf="product?.offerPrice!=0">
        €{{product?.price}}
      </s>
    </div>
    <br>
    <div>
      <label *ngIf="realStock==0" style="width: 100%; font-size: 12px; font-weight: bold; color: #be563f;">
        AGOTADO
      </label>
    </div>

    <div class="selector-talla"  *ngFor="let property of product?.properties; let i = index">
      <label style="width: 100%; font-size: 12px; font-weight: bold;">
        {{property.name}}
      </label>
      <mat-select style="outline: none;" id="OptionSelection" (selectionChange)="onChange($event, i)" placeholder="Selecciona tu opcion" style="margin-bottom: 10px;">
        <mat-option [value]="propertyValues" *ngFor="let propertyValues of property?.values">
          {{propertyValues}}
        </mat-option>
      </mat-select>
    </div>

    <label *ngIf="realStock>0" for="Quantity" class="quantity">Cantidad</label>
    <app-quantity-selector *ngIf="realStock>0" (valueChanged)="valueChanged($event)" [maxValue]=realStock [minValue]=1>
    </app-quantity-selector>
    <div class="buttons" *ngIf="realStock>0">

      <button mat-stroked-button class="btn" (click)=" addProductToCart(product, value)">
        AGREGAR AL CARRITO
      </button>

      <button mat-stroked-button class="btn" style="color:white; background-color: #545454">
        COMPRAR
      </button>
    </div>

    <div class="descripcion">
      <p>{{product?.description}}</p>
      <p>&nbsp;</p>
    </div>
    <div class="detalles" *ngIf="product?.details.length > 0">
      <p><strong>DETALLES</strong></p>
      <ul>
        <li *ngFor="let detail of product?.details">{{detail}}</li>

      </ul>
    </div>

    <div *ngIf="!isSimpleView">
      <mat-tab-group class="fontTab">
        <mat-tab *ngFor="let item of dataService?.info" label={{item?.nameInformation}}>
        <div style="padding: 30px;" class="fontTab" >
          {{item?.descriptionInformation}}
        </div>
          
        </mat-tab>
      </mat-tab-group>
    </div>
    

  </div>
</div>
<div style="clear: both;"></div>

<div>
  <h2 style="margin-top: 40px; user-select: none; font-size: 18px; text-transform: uppercase; text-align: center;">
    Tambien
    te podría interesar</h2>
  <div style="float: left; padding: 0;" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12"
    *ngFor="let product of dataService?.products | slice:0:4; let i=index">
    <app-product [product]="product"></app-product>
  </div>
  <div style="clear: both;"></div>
</div>