.quantity-selector {
    position: relative;
    max-width: 7.5rem;
    display: inline-block;
}

input:focus {
    outline: none;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.add:active {
    margin-top: 1px;
    margin-bottom: -1px;
    user-select: none;
}

.remove:active {
    margin-top: 1px;
    margin-bottom: -1px;
    user-select: none;
}